@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap");

body {
  font-family: "Libre Franklin", sans-serif;
  background-image: url(~/public/images/vintage-wallpaper.png);
  font-size: 20px;
}

h1 {
  text-align: center;
  padding: 15px 0;
  width: 90%;
  margin: 0 auto;
  text-decoration: none;
  font-size: 2.2em;
}

table {
  font-size: 1rem;
  border-collapse: collapse;
  margin: 0.4rem auto;
  margin-bottom: 2rem;
  border: 1px solid gray;
  width: 100%;
  background-color: #F1F1F1;
}

h1 {
  text-align: center;
  padding: 15px 0;
  width: 90%;
  margin: 0 auto;
  text-decoration: none;
  font-size: 2rem;
}

th {
  padding: 0.1em;
  background-color: rgb(222, 222, 222);
}

tr:nth-child(2) {
  background-color:rgb(222, 222, 222);
}

td {
  padding: 0.7em;
}

svg {
  width: 16px;
  height: 16px;
  fill: currentColor;
  transform: rotate(270deg);
  transition: transform .5s;
  fill: #808080;
}

input {
  -webkit-appearance: none;
  display: block;
  padding: 20px;
  flex: 1;
  margin: 5px;
  font-size: 14px;
  outline: none;
  border: none;
  border-left: 1px solid gray;
  font-family: "Libre Franklin", sans-serif;
  background-color: white;
}

button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  cursor: pointer;
  margin: 4px 2px;
  width: auto;
  height: 30px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(73, 52, 52, 0.2);
  font-size: medium;
  padding: 20px;
}

input[type="file"] {
  border: 3px dashed gray;
}

span {
  display: block;
}